@charset 'UTF-8';
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');}
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #105814, #46c758);
    
}

header > h1{
    color: white;
    text-align: center;
    
}
header >p{
    color: rgba(255, 255, 255, 0.582);
    text-align: center;
    
}
nav > a{
    color: white;
    margin: 10px;

}

body{
    font-size: 100%;
}

--------------------------------------

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');}

    :root{
        --cor0: #c5ebd6;
        --cor1: #83e1ad;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;

        --fonte-padrao: Arial, Helvetica, sans-serif;
        --fonte-destaque: 'Bebas Neue';
        --fonte-android: 'idroid';
    }
   
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;}

header{  
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to top, #063d1e, #46c758);
    margin: auto;
    padding: 10px;
    
}
header > p{
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
}
header > h1{
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
}

nav{
    background-color: var(--cor5);
}
nav > a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav > a:hover{
    background-color: #105814;
    padding: 5px;
    border-radius: 5px;
}
body{
    background-color: #bff1c6;
    margin: auto;

    
}
.conteudo{
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.11);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.178);
    max-width: 800px;
    min-width: 0px;
    margin: auto;
    padding: 0px 15px;
    border-radius: 0px 0px 10px 10px;
}

.conteudo > h1{
    font-family: idroid;
    color: var(--cor4);
}
.conteudo > h2{
    font-family: idroid;
    background-color: #46c7572d;
    color: darkgreen;
}

.bug{
    text-align: center;
   
    
}
.video{
    background-color: darkgreen;
    text-align: center;
    
    
}
.caixa{
    background-color: #bff1c6;
    box-shadow: 2px 2px grey;
    border-radius: 10px;
    

}
.caixa > h3{
    background-color: #46c758;
    padding: 5px;
    color: white;
}
footer{
    background-color: var(--cor5);
    text-align: center;
    margin: 5px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.644);
}
footer > a{
    text-decoration: none;
    color: white;
    text-align: auto;
}